; vim: set fileencoding=utf-8 :
; Tue Jan 31 17:22:48 CET 2017

[buildout]
parts = scripts
develop = .
eggs = bob.fusion.base
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
