setuptools
numpy
bob.core
bob.extension
bob.measure
bob.learn.linear
bob.learn.activation
bob.learn.mlp
bob.bio.base
scikit-learn # Used for classifiers and pre-processors.
matplotlib   # for plotting
docopt       # for plotting script